html {
  background-color: white;
  font: 16px 'Souce Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

@import 'app/variables';
@import 'app/helpers';
@import 'app/typography';
@import 'app/animations';
@import 'app/buttons';
@import 'app/inputs';
@import 'app/badges';
@import 'app/flash';
@import 'app/page';
@import 'app/timeslot';

@import 'app/tests';
