<div class="page">
  <div class="page__header">
    <LinkTo @route="schedule.list" class="page__header__action">
      <i class="material-icons">arrow_back</i>
    </LinkTo>
    <h6>Scheduled a new Timeslots</h6>
  </div>

  <form
    class="timeslot-form"
    novalidate
    {{on "submit" this.schedule}}
  >
    <div class="timeslot-form__container">
      <UiInput
        class="activity-name"
        @type="text"
        @name="activity-name"
        @value={{this.model.timeslot.activityName}}
        @label="Activity Name"
        @placeholder="Fill with the activity name"
        @autocomplete="off"
        @error={{get-error this.model.timeslot "activityName"}}
        @onInput={{fn (mut this.model.timeslot.activityName)}}
      />

      <UiInput
        name="date"
        class="date"
        @type="date"
        @value={{this.model.timeslot.date}}
        @label="Date"
        @inputmode="numeric"
        @autocomplete="off"
        @error={{get-error this.model.timeslot "date"}}
        @onInput={{fn (mut this.model.timeslot.date)}}
      />

      <UiInput
        class="start-time"
        @name="start-time"
        @type="time"
        @value={{this.model.timeslot.startTime}}
        @label="Starts At"
        @inputmode="numeric"
        @autocomplete="off"
        @error={{get-error this.model.timeslot "startTime"}}
        @onInput={{fn (mut this.model.timeslot.startTime)}}
      />

      <UiInput
        class="end-time"
        @type="time"
        @name="end-time"
        @value={{this.model.timeslot.endTime}}
        @label="Ends At"
        @inputmode="numeric"
        @autocomplete="off"
        @error={{get-error this.model.timeslot "endTime"}}
        @onInput={{fn (mut this.model.timeslot.endTime)}}
      />

      <UiInput
        class="num-max-guests"
        @type="text"
        @name="num-max-guests"
        @value={{this.model.timeslot.numMaxGuests}}
        @label="Maximum Guests"
        @inputmode="numeric"
        @autocomplete="off"
        @error={{get-error this.model.timeslot "numMaxGuests"}}
        @onInput={{fn (mut this.model.timeslot.numMaxGuests)}}
      />
    </div>


    <button
      class="submit btn-primary"
      type="submit"
    >
      Schedule
    </button>
  </form>
</div>
