{{#if this.flashMessages.queue}}
  {{#each this.flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} as |component flash|>{{flash.message}}</FlashMessage>
  {{/each}}
{{/if}}

{{outlet}}
