<LinkTo
  @route="schedule.new"
  class="btn-primary btn-fab"
>
  Schedule timeslot
</LinkTo>

<div class="page">
  <div class="page__header">
    <h6>Your Scheduled Timeslots</h6>
  </div>

  <div class="page__actions">
    <div class="page__action__row-1 timeslot-filter">
      <div class="timeslot-filter__input-container">
        <UiInput
          class="timeslot-filter__input"
          @value={{this.bind_filter}}
          @placeholder="Filter by activity name or date"
          @onInput={{fn (mut this.filterString)}}
        />
        <button
          type="submit"
          class="btn-icon"
        >
          <i class="material-icons">search</i>
        </button>
      </div>
    </div>

    <div class="timeslot__time-window">
      <button
        type="button"
        class="
          btn until-today
          {{if (eq this.maximumDays "~0") "btn--active"}}
        "
        {{on "click" (fn (mut this.maximumDays) "~0")}}
      >
        Until Today
      </button>
      <button
        type="button"
        class="
          btn today
          {{if (eq this.maximumDays "0") "btn--active"}}
        "
        {{on "click" (fn (mut this.maximumDays) "0")}}
      >
        Today
      </button>
      <button
        type="button"
        class="
          btn within-seven-days
          {{if (eq this.maximumDays "0~+7") "btn--active"}}
        "
        {{on "click" (fn (mut this.maximumDays) "0~+7")}}
      >
        In seven days
      </button>
    </div>
  </div>

  <div class="timeslot-list">
    <div class="timeslot-list__header">
      <div class="activity-name">
        Activity Name
      </div>
      <div class="status">
        Status
      </div>
      <div class="date">
        Date
      </div>
      <div class="start-time">
        Start Time
      </div>
      <div class="end-time">
        End Time
      </div>
      <div class="num-max-guests">
        Maximum Guests
      </div>
      <div class="timeslot-list__item__actions"></div>
    </div>
    {{#each (sort-by "date:asc" "is_canceled" "sortableStartTime:desc" this.timeslots) as |timeslot|}}
      <LinkTo
        class="
          timeslot-list__item
          {{if timeslot.is_canceled "timeslot-list__item--canceled"}}
        "
        @route="schedule.update"
        @model={{timeslot.id}}
      >
        <p class="activity-name">
          {{timeslot.activityName}}
        </p>
        <p class="status">
          {{#if timeslot.is_canceled}}
            <span class="badge badge--danger">Canceled</span>
          {{else}}
            <span class="badge badge--info">Active</span>
          {{/if}}
        </p>
        <p class="date">
          {{moment-format timeslot.date 'YYYY-MM-DD'}}
        </p>
        <p class="start-time">
          {{format-time timeslot.startTime}}
        </p>
        <p class="end-time">
          {{format-time timeslot.endTime}}
        </p>
        <p class="num-max-guests">
          {{timeslot.numMaxGuests}}
        </p>
        <div class="timeslot-list__item__actions">
          {{#unless timeslot.is_canceled}}
            <button
              type="button"
              class="cancel-timeslot btn-icon btn-icon--danger"
              {{on "click" (fn this.cancel timeslot)}}
            >
              <i class="material-icons">cancel</i>
            </button>
          {{/unless}}
        </div>
      </LinkTo>
    {{else}}
      <div class="timeslot-list__item">
        No schedule timeslots
      </div>
    {{/each}}
    <div class="timeslot-list__footer">
      Showing {{this.timeslots.length}} timeslots
    </div>
  </div>
</div>
