.badge {
  @include font-size(12);
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 4px 8px;
  text-transform: uppercase;
}

.badge.badge--danger {
  background-color: $red-500;
  color: white;
}

.badge.badge--info {
  background-color: $accent-500;
  color: white;
}
