.btn {
  @include font-size(14);
  align-items: center;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  background-color: $white;
  border: 1px solid $white;
  color: $black;
  cursor: pointer;
  display: flex;
  font-weight: 800;
  height: 48px;
  justify-content: center;
  max-height: 48px;
  padding: 0 12px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--active {
  border: 1px solid $accent-500;
  color: $accent-500;
}

.btn-primary {
  @extend .btn;
  background-color: $full-black;
  border: 1px solid $full-black;
  color: $white;
}

.btn-primary:disabled {
  @extend .btn;
  background-color: $black;
  color: $white;
}

.btn-icon {
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 32px;
  outline: none;
  width: 32px;

  &.btn-icon--danger {
    color: $red-500;
  }
}

.btn-fab {
  bottom: 16px;
  position: fixed;
  right: 16px;
}
