.alert {
  @include font-size(16);
  cursor: pointer;
  font-weight: bold;
  max-width: calc(100vw - 32px);
  padding: 16px 16px;
  position: fixed;
  left: 12px;
  bottom: 12px;
  width: 344px;
  text-align: left;
  z-index: 1000;
}

.alert.alert-danger {
  background-color: $red-500;
  color: $white;
}

.alert.alert-success {
  background-color: $accent-500;
  color: $white;
}

.alert.alert-warning {
  background-color: $primary-500;
  color: $white;
}

.alert.alert-info {
  background-color: $accent-500;
  color: $white;
}

.alert.active.exiting {
  animation: fadeOut 300ms cubic-bezier(0.4, 0.1, 1, 1);
}
