input {
  @include font-size(16);
  border: 1px solid $grey-800;
  color: $black;
  height: 48px;
  margin-bottom: 16px;
  outline: none;
  padding: 0 8px;
  transition: border-color 100ms linear;

  &:focus {
    border-color: $accent-500;
    border-width: 2px;
    height: 46px;
    padding: 0 7px;
  }
}

.input-label {
  @include font-size(16);
  font-weight: 600;
  margin-bottom: 8px;
}

.input-error {
  @include font-size(14);
  color: $red-500;
  margin-top: -8px;
  margin-bottom: 16px;
}
