.page {
  background-color: $grey-400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  align-items: center;
  background-color: $primary-500;
  display: flex;
  margin-bottom: 16px;
  padding: 0 32px;
  height: 60px;

  h6 {
    @include font-size(16);
    display: flex;
    margin: 0;
  }

  .page__header__action {
    align-items: center;
    color: $black;
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 48px;
    height: 48px;
  }
}

.page__actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 32px;

  .page__action__row-1 {
    display: flex;
    flex: 1;
  }
}
