.timeslot-filter {
  display: flex;
  flex: 1;

  .timeslot-filter__input-container {
    position: relative;
  }

  input {
    width: 214px;
    padding-right: 36px;
    margin-bottom: 0;

    &:focus {
      width: 212px;
    }
  }

  button {
    bottom: 0;
    display: flex;
    align-items: center;
    height: 48px;
    position: absolute;
    right: 4px;
    top: 0;
  }
}

.timeslot__time-window {
  display: flex;

  button {
    margin-left: 4px;
  }
}

.timeslot-list {
  color: $black;
  background: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  padding: 16px 0;
  margin: 16px 32px;

  .timeslot-list__header, .timeslot-list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .timeslot-list__header > div:not(.timeslot-list__item__actions),
  .timeslot-list__item > p {
    display: flex;
    flex: 2;
  }

  .timeslot-list__item__actions {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .timeslot-list__header {
    @include font-size(14);
    font-weight: 600;
    padding: 16px 48px;
    text-transform: uppercase;
  }

  .timeslot-list__item {
    @include font-size(16);
    font-weight: 400;
    border-bottom: 2px solid $grey-500;
    margin: 0 32px;
    padding: 16px;
    transition: background-color 100ms linear;

    p {
      margin: 0;
    }

    &:hover {
      background-color: $grey-300;
    }

    .timeslot-list__item__actions {
      display: flex;
    }
  }

  .timeslot-list__footer {
    @include font-size(14);
    text-align: right;
    padding: 16px 32px;
  }
}

.timeslot-form {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;

  .timeslot-form__container {
    background: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    padding: 32px;
    margin-bottom: 24px;
  }
}
