$white: #ffffff;
$grey-300: #fbfcfd;
$grey-400: #f8f8f8;
$grey-500: #eef1f3;
$grey-800: #ced4da;

$black: #2e3d45;
$full-black: #000000;

$primary-500: #fff200;
$accent-500: #28adbb;

$green-500: #6ec37f;
$red-500: #f8665e;
