{{#if @label}}
  <label class="input-label" for={{@name}}>
    {{@label}}
  </label>
{{/if}}
<Input
  type={{@type}}
  name={{@name}}
  value={{@value}}
  placeholder={{@placeholder}}
  inputmode={{@inputMode}}
  maxlength={{@maxlength}}
  disabled={{@disabled}}
  autocomplete="off"
  {{on "input" this.inputEvent}}
  ...attributes
/>
{{#if @error}}
  <span class="input-error">{{@error}}</span>
{{/if}}
